html
  head
    meta(name="viewport", content="width=device-width, inital-scale=1")
    title Survey
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    block head

    body
      .container
        .header.clearfix
          nav
            ul.nav.nav-pills.pull-right
          .left-head
            img#logo(src="/logo.png")
            span.text-muted.title Farm Bill Live Survey

        block content

    script(src="jquery-3.1.1.min.js")
    script(src="knockout-min.js")
    script(src="socket.io.js")
    block footscript
