#one,#two,#three,#four,#five {
  display:none;
}

#logo {
  height:6em;
}
.title {
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
}
.left-head{
  float:left;
}
.firstRow {
  text-align: right;
  padding-right: 10em !important;
}
